article {
    --highlighted: 100, 116, 139;
    --deleted: 220, 38, 38;
    --deleted-text: #dc2626;
    --added: 34, 197, 94;
    --added-text: #059669;
    --warning: 245, 158, 11;
    --link: #2563eb;
    --link-hover: #3b82f6;

    p,
    ul,
    ol,
    blockquote,
    pre {
        margin-bottom: 1rem;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
        font-weight: bold;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    h2 {
        font-size: 1.8rem;
    }

    blockquote {
        padding: 0 1rem;
        border-left: 4px solid rgba(var(--highlighted), .5);
        font-style: italic;
        color: rgba(var(--highlighted), .9);

        p:last-child {
            margin: 0;
        }
    }

    a {
        color: var(--link);
        text-decoration: underline;

        &:hover {
            color: var(--link-hover);
        }
    }

    img {
        background-color: #f8fafc;
        border-radius: .5rem;
        border-width: 1px !important;
    }

    code:not(:is(pre code)) {
        background-color: rgba(var(--highlighted), .1);
        padding: .2em .5em;
        font-size: 85%;
        border-radius: .3rem;
        word-break: break-word;
    }
    
    pre {
        --code-line-height: 1.7rem;
        --code-padding-x: 1.5rem;
        border-width: 1px !important;
        background-color: #f8fafc !important;
        position: relative;
        padding: .5rem 0;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        tab-size: 4;
        hyphens: none;
        overflow-x: auto;
        
        code {
            display: block;
            padding: 0 var(--code-padding-x);
            width: fit-content;
            min-width: 100%;
            line-height: var(--code-line-height);
            font-size: .875rem;
        }

        .line {
            display: block;
            height: var(--code-line-height);
            white-space: pre;

            &.highlighted {
                background-color: rgba(var(--highlighted), .1);

                &.error {
                    --highlighted: var(--deleted);
                }

                &.warning {
                    --highlighted: var(--warning);
                }
            }

            &.highlighted,
            &.diff {
                min-width: calc(100% + 2.5rem);
                margin-left: calc(var(--code-padding-x) * -1);
                margin-right: calc(var(--code-padding-x) * -1);;
                padding: 0 var(--code-padding-x);
            }

            &.diff.remove {
                background-color: rgba(var(--deleted), .2);
                > span {
                    opacity: .6;
                }

                &::before {
                    content: "-";
                    color: var(--deleted-text);
                }
            }

            &.diff.add {
                background-color: rgba(var(--added), .2);

                &::before {
                    content: "+";
                    color: var(--added-text);
                }
            }

            &.diff::before {
                position: absolute;
                left: .5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    article pre {
        margin-left: 0;
        margin-right: 0;
        border-radius: .5rem;
    }
}

@media (prefers-color-scheme: dark) {
    pre {
        border-color: transparent;
    }

    .shiki {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
    }
    
    .shiki span {
        color: var(--shiki-dark) !important;
    }

    article {
        --link: #3b82f6;
        --link-hover: #2563eb;

        blockquote {
            padding: 0 1rem;
            border-left: 4px solid rgba(var(--highlighted), 1);
            font-style: italic;
            color: rgba(var(--highlighted), 1);

            p:last-child {
                margin: 0;
            }
        }
    }
}