---
    layout: home
---

<section class="my-8 max-w-[1024px] mx-auto md:grid grid-cols-12 gap-x-8 space-y-8 md:space-y-0">
    <aside class="col-span-11 md:col-span-3">
        <div class="sticky top-24 space-y-4">
            <div>
                <h3 class="font-bold mb-1">About the author</h3>
                <div class="bg-slate-100 dark:bg-slate-800 rounded-lg p-2">
                    <div class="flex gap-x-2 md:flex-col items-center flex-wrap">
                        <div class="aspect-square w-16 md:w-32 rounded-full overflow-hidden">
                            <img src="{{ page.author.avatar }}" alt="Author picture" class="object-contain">
                        </div>
                        <div class="flex-1">
                            <h2 class="font-bold">{{ page.author.name }}</h2>
                            <p>
                                {{ page.author.bio }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="font-bold mb-1">Tags</h3>
                <ul class="flex gap-1 flex-wrap">
                    {% assign tags = page.tags | sort_natural %}
                    {% for tag in tags %}
                        <li>
                            <a href="#" class="bg-slate-100 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-700 inline-block border rounded-full px-2">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>

    <article class="flex-grow col-span-11 md:col-span-9">
        <h1 class="text-4xl font-bold">{{ page.title }}</h1>
        {{ content }}
    </article>
</section>