---
    layout: default
---

{% include navbar.html %}
<main>
    <div class="bg-slate-100 dark:bg-slate-800 h-32"></div>
    
    <div class="container mx-auto px-4">
        <div class="my-8 max-w-[1024px] mx-auto grid grid-cols-12 gap-x-8 md:space-y-reverse">
            <aside class="col-span-12 md:col-span-4 lg:col-span-3 order-1">
                <div class="space-y-4">
                    <div>
                        <h3 class="font-bold mb-1">About the author</h3>
                        <div class="bg-slate-100 dark:bg-slate-800 rounded-lg p-2">
                            <div class="flex gap-x-2 md:flex-col items-center flex-wrap">
                                <div class="aspect-square w-16 md:w-32 rounded-full overflow-hidden">
                                    {% assign src = page.author.avatar %}
                                    <img src="{{ src | size: 128 }}" alt="Author picture" class="object-contain" width="128" height="128">
                                </div>
                                <div class="flex-1">
                                    <h2 class="font-bold">{{ page.author.name }}</h2>
                                    <p>
                                        {{ page.author.bio }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div>
                        <h3 class="font-bold mb-1">Tags</h3>
                        <ul class="flex gap-1 flex-wrap">
                            {% assign tags = page.tags | sort_natural %}
                            {% for tag in tags %}
                                <li>
                                    <a href="#" class="bg-slate-100 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-700 inline-block border rounded-full px-2">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </aside>
        
            <article class="flex-grow col-span-12 md:col-span-8 lg:col-span-9 order-first md:order-2 mb-8 -mt-32 bg-white dark:bg-slate-900 p-4 rounded-md">
                <div class="mb-8">
                    <h1 class="text-4xl lg:text-5xl font-bold mb-0">{{ page.title }}</h1>
                    <small class="text-slate-500 text-sm">{{ page.date | date_to_string }} • {{ page.author.name }}</small>
                </div>
                {{ content }}
            </article>
        </div>
    </div>
</main>
{% include footer.html %}

<script src="/assets/scripts/navbar.js"></script>
